

body {
   background-color: deepskyblue;
   color: white;
   font-family: sans-serif;
}

section {
    background-color: white;
    position: relative;
    display: none;
    /* min-height: 150px; */
}

#profil {
    background-color: red;
    display: block;
    /* margin: 50px;
    padding: 50px; */
    border: 10px solid gold;
    transition: 1s;
    position: relative;
    height: 100px;
    overflow: auto;
}

section h2 {
    color: #dddddd88;
    position: absolute;
    right: 0;
    bottom: 0;
}

#profil p {
    z-index: 2;
}

/* #profil:hover {
    background-color: gold;
    color: darkblue;
    border-radius: 25px;
    box-shadow: 15px 15px white;
} */

#edukacja {
    color: black;
}

.test {
    background-color: darkblue;
}